<% @posts.each do |post| %>
  <h3>
	<% if post.url? %> 
		<%= link_to(post.title, post.url) %>
	<% else %>
		<%= link_to(post.title, post) %>
	<% end %>
   </h3>
	<div class="link-info">
		submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.username %> 
	</div> 

	<%= link_to up_votes_path(object:'Post', id:post.id), class: "btn btn-defualt btn-sm" do %>
		 <span class="glyphicon glyphicon-chevron-up"></span>
      	Upvote
      		<%= post.get_upvotes.size %>
      	<% end %>

    <%= link_to down_votes_path(object:'Post', id:post.id), class: "btn btn-defualt btn-sm" do %>
		 <span class="glyphicon glyphicon-chevron-up"></span>
      	Downvote
      		<%= post.get_downvotes.size %>
      	<% end %>

	<div class="bottom-links">
		<%= link_to "Comments", post %>
		<% if user_signed_in? && post.user_id == current_user.id %>
		 	<%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete?"} %> 
		<% end %> 
	<br>

<% end %> 